.container{
    width: 60%;
    
    margin-right: auto;
    margin-left: auto;
    padding: 12px 16px;
    border-radius: 5px;
    background-color: gray;
    color: white;
}
.titel{
    text-align: center;
}
.notification {
    text-align: center;
    font-size: 25px;
    color:rgb(198, 16, 16);
}
